[submodule "client"]
    path = client
    url=https://github.com/Garv2003/Instagram-clone-frontend

[submodule "server"]
    path = server
    url=https://github.com/Garv2003/Instagram-clone-backend

[submodule "socket"]
    path = socket
    url=https://github.com/Garv2003/Instagram-Clone-Socket
